---
# User can pass any type of executable script
#post_script_file: /tmp/my_custom_script
root_ssh_authorized_file: /root/.ssh/id_rsa.pub
# Extended kernel PXE options
extend_kopts: "biosdevname=0 debug ignore_loglevel log_buf_len=10M print_fatal_signals=1 LOGLEVEL=8"
# Directory that will be injected to the image
# root filesystem. **NOTE** Files/packages will be
# injected after installing all packages, but before
# generating system initramfs - thus it's possible to
# adjust initramfs
extra_dirs:
  - /usr/share/fuel_bootstrap_cli/files/trusty
# Save generated bootstrap container to
output_dir: /tmp/
# Defines kernel version
kernel-flavor: linux-image-generic-lts-trusty
# Define packages list
packages:
  - vim
  - mc
  - openssh-client
  - openssh-server
  - ntp
  - mcollective
  - nailgun-agent
  - nailgun-mcagents
  - network-checker
  - fuel-agent
  - ubuntu-minimal
  - live-boot
  - live-boot-initramfs-tools
  - wget
  - linux-firmware
  - linux-firmware-nonfree
  - xz-utils
  - squashfs-tools
  - msmtp-mta
# Ignore proxy for this repos
#direct_repo_addresses:
#    - 127.0.0.1
#    - 172.18.196.50
# Pass proxy parameters, for access to repos
#http_proxy: "192.168.1.50:8080"
#https_proxy: "192.168.1.50:8080"
# Define upstream ubuntu-mirror
ubuntu_repos:
  -
    name: ubuntu
    priority: null
    section: "main universe multiverse"
    suite: trusty
    type: deb
    uri: "http://archive.ubuntu.com/ubuntu"
  -
    name: ubuntu-updates
    priority: null
    section: "main universe multiverse"
    suite: trusty-updates
    type: deb
    uri: "http://archive.ubuntu.com/ubuntu"
  -
    name: ubuntu-security
    priority: null
    section: "main universe multiverse"
    suite: trusty-security
    type: deb
    uri: "http://archive.ubuntu.com/ubuntu"
# Define MirantisOpenstack mirror
mos_repos:
  -
    name: mos
    priority: "1050"
    section: "main restricted"
    suite: mos8.0
    type: deb
    uri: "http://mirror.fuel-infra.org/mos-repos/ubuntu/8.0"
  -
    name: mos-updates
    priority: "1050"
    section: "main restricted"
    suite: mos8.0-updates
    type: deb
    uri: "http://mirror.fuel-infra.org/mos-repos/ubuntu/8.0"
  -
    name: mos-security
    priority: "1050"
    section: "main restricted"
    suite: mos8.0-security
    type: deb
    uri: "http://mirror.fuel-infra.org/mos-repos/ubuntu/8.0"
  -
    name: mos-holdback
    priority: "1100"
    section: "main restricted"
    suite: mos8.0-holdback
    type: deb
    uri: "http://mirror.fuel-infra.org/mos-repos/ubuntu/8.0"
# Define other deb repositories
extra_repos:
  -
    name: Extra_repo
    priority: null
    section: main
    suite: trusty
    type: deb
    uri: "http://archive.ubuntu.com/ubuntu"
# For import\activate commands only.
bootstrap_images_dir: "/var/www/nailgun/bootstraps"
# For import\activate commands only
active_bootstrap_symlink: "/var/www/nailgun/bootstraps/active_bootstrap"
# For import\activate commands only
#"fuel_access"
#  "user": "admin"
#  "password": "admin"

