---
# User can pass any type of executable script
#post_script_file: /tmp/my_custom_script
root_ssh_authorized_file: /root/.ssh/id_rsa.pub
# Extended kernel PXE options
extend_kopts: "biosdevname=0 net.ifnames=1"
# Choose the Ubuntu release (currently supports only Xenial). Keep in mind,
# that you also should fix 'kernel_flavor' parameter.
ubuntu_release: xenial
# Directory that will be injected to the image
# root filesystem. **NOTE** Files/packages will be
# injected after installing all packages, but before
# generating system initramfs - thus it's possible to
# adjust initramfs
extra_dirs:
  - /usr/share/fuel_bootstrap_cli/files/xenial
# Save generated bootstrap container to
output_dir: /tmp/
# Defines kernel version
kernel_flavor: linux-image-generic-lts-xenial
# Define packages list
packages:
  - daemonize
  - fuel-agent
  - hwloc
  - i40e-dkms
  - linux-firmware
  - linux-headers-generic
  - live-boot
  - live-boot-initramfs-tools
  - mc
  - mcollective
  - msmtp-mta
  - multipath-tools
  - multipath-tools-boot
  - nailgun-agent
  - nailgun-mcagents
  - network-checker
  - ntp
  - ntpdate
  - openssh-client
  - openssh-server
  - puppet
  - squashfs-tools
  - ubuntu-minimal
  - vim
  - wget
  - xz-utils
  # NOTE(el): Packages required for new generation
  # network checker to be run without an access
  # to repositories.
  - sysfsutils
  - bridge-utils
  - ifenslave
  - irqbalance
  - iputils-arping
  # Packages required for distributed serialization
  - python-distributed
  - python-alembic
  - python-amqplib
  - python-anyjson
  - python-babel
  - python-cinderclient
  - python-crypto
  - python-decorator
  - python-fysom
  - python-iso8601
  - python-jinja2
  - python-jsonschema
  - python-keystoneclient
  - python-keystonemiddleware
  - python-kombu
  - python-mako
  - python-markupsafe
  - python-migrate
  - python-netaddr
  - python-netifaces
  - python-networkx
  - python-novaclient
  - python-oslo-config
  - python-oslo-db
  - python-oslo-serialization
  - python-paste
  - python-ply
  - python-psycopg2
  - python-pydot-ng
  - python-requests
  - python-simplejson
  - python-six
  - python-sqlalchemy
  - python-stevedore
  - python-tz
  - python-urllib3
  - python-uwsgidecorators
  - python-webpy
  - python-wsgilog
  - python-yaml
  - python-yaql
# Ignore proxy for this repos
#direct_repo_addresses:
#    - 127.0.0.1
#    - 172.18.196.50
# Pass proxy parameters, for access to repos
#http_proxy: "192.168.1.50:8080"
#https_proxy: "192.168.1.50:8080"
# Define repos: upstream ubuntu-mirror, MirantisOpenstack mirror, extra repos.
# First repo should be distro repo.
#repos:
#  -
#    name: ubuntu
#    priority: null
#    section: "main universe multiverse"
#    suite: xenial
#    type: deb
#    uri: "http://archive.ubuntu.com/ubuntu"
#  -
#    name: ubuntu-updates
#    priority: null
#    section: "main universe multiverse"
#    suite: xenial-updates
#    type: deb
#    uri: "http://archive.ubuntu.com/ubuntu"
#  -
#    name: ubuntu-security
#    priority: null
#    section: "main universe multiverse"
#    suite: xenial-security
#    type: deb
#    uri: "http://archive.ubuntu.com/ubuntu"
#  -
#    name: mos
#    priority: "1050"
#    section: "main restricted"
#    suite: mos10.0
#    type: deb
#    uri: "http://mirror.fuel-infra.org/mos-repos/ubuntu/10.0"
#  -
#    name: mos-updates
#    priority: "1050"
#    section: "main restricted"
#    suite: mos10.0-updates
#    type: deb
#    uri: "http://mirror.fuel-infra.org/mos-repos/ubuntu/10.0"
#  -
#    name: mos-security
#    priority: "1050"
#    section: "main restricted"
#    suite: mos10.0-security
#    type: deb
#    uri: "http://mirror.fuel-infra.org/mos-repos/ubuntu/10.0"
#  -
#    name: mos-holdback
#    priority: "1100"
#    section: "main restricted"
#    suite: mos10.0-holdback
#    type: deb
#    uri: "http://mirror.fuel-infra.org/mos-repos/ubuntu/10.0"
#  -
#    name: Extra_repo
#    priority: null
#    section: main
#    suite: xenial
#    type: deb
#    uri: "http://archive.ubuntu.com/ubuntu"
# For import\activate commands only.
bootstrap_images_dir: "/var/www/nailgun/bootstraps"
# For import\activate commands only
active_bootstrap_symlink: "/var/www/nailgun/bootstraps/active_bootstrap"
# For import\activate commands only
#"fuel_access"
#  "user": "admin"
#  "password": "admin"

# User can provide default hashed root password for bootstrap image
# hashed_root_password: "$6$IInX3Cqo$5xytL1VZbZTusOewFnG6couuF0Ia61yS3rbC6P5YbZP2TYclwHqMq9e3Tg8rvQxhxSlBXP1DZhdUamxdOBXK0."
